*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
.esqueletoOff{
    width: 550px;
    height: 600px;
    background-color: rgb(112, 114, 115);
    border: 1vh;
    border-radius: 0.2rem solid rgb(1, 1, 1);
    display: flex;
    align-items: end;
    justify-content: center;
    background-image:url("img/esqueleto2___6065380fb083ce3___.png");
}
.esqueletoOnOff{
    width: 100px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 1vh;
    border: 0.2rem solid rgb(22, 22, 22);
    position: fixed;
    color: rgb(10, 10, 10);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#esqueletoafk.baile{
    background-image: url("img/esqueleto1___7965380fb0bcb06___.gif");
}